{% extends 'base.html ' %}
{% load static %}
{% load bootstrap4 %}

{% block contant %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{ alljobs|length  }}+ Jobs Available</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">
                            <h3>Filter</h3>
                            <form method="GET" class="form_inner white-bg">
                                {% bootstrap_form myfilter.form %}
                      
                              <input  type="submit" value="Filter" class="boxed-btn3 w-100 mt-3 " ></input>

                            </form>
                            <p></p>
                        </div>
                  
                     
                    </div>
                </div>
                <div class="col-lg-9">
               
                    <div class="job_lists m-0">
                        <div class="row">
                            {% for onejob in alljobs %}
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="jobs_conetent">
                                            <img  width="100px"  height="100px" src="{{onejob.photo.url}}" alt=""  >
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="{{ onejob.slug }} "><h4>{{ onejob.title }}</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i>{{ onejob.location }}</p>
                                                </div>
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i>{{ onejob.job_type }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a>
                                            <a href="{{ onejob.slug  }} " class="boxed-btn3">Apply Now</a>
                                        </div>
                                        <div class="date">
                                            <p>{{ onejob.published_at |date:'h A d M Y '  }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% if alljobs.has_other_pages %}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    <ul>
                                        {% if alljobs.has_previous %}

                                        <li><a href="?page={{alljobs.previous_page_number}}"> <i class="ti-angle-left"></i> </a></li>
                                    {% endif  %}
                                    {% for p in alljobs.paginator.page_range %}
                                         <li><a href="?page={{p}}"><span>{{p}}</span></a></li>
                                    {% endfor %}

                                    {% if alljobs.has_next %}
                                         <li><a href="?page={{alljobs.next_page_number}}"> <i class="ti-angle-right"></i> </a></li>
                                    {% endif  %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif  %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->

{% endblock %}