{% extends 'base.html' %}

{% load bootstrap4 %}


{% block contant %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Cange Password</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div  >

    <form action="" method="post"  class="container col-xl-6" >
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="boxed-btn3 w-100" value="Change password">
        <p></p>
        </form>
</div>

{% endblock %}
