{% extends 'base.html' %}
{% load static %}

{% block contant %}
   <!-- bradcam_area  -->
   
   <div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    {% if this is true %}
                    <h3 >  <img width="100px"  height="100px" class="circular--square " src="{{profile.imeg.url}}" alt=""  > {{profile.user.first_name}} {{profile.user.last_name}}</h3>
                    {% else  %}
                    <p></p>
                    {% endif %}
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
       
            <div class="col-lg-7 mx-auto" >
                <div class="job_sumary">
                  
                    <div class="job_content">

                        <ul>
                            <li>First Name: <span>{{profile.user.first_name}}</span></li>
                            <li>Last Name: <span>{{profile.user.last_name}}</span></li>
                            <li>Email: <span>{{profile.user.email}}</span></li>
                            <li>Address: <span>{{profile.city}}</span></li>
                            <li>Phone: <span>{{profile.phone}}</span></li>
                        </ul>
                        <a href="{% url 'accounts:profile_edit' %}" class="boxed-btn3 w-100">Edit You Profile</a>
                    </div>
                </div>
        
                <div class="job_location_wrap">
                    <div class="job_lok_inner">
                        <div id="map" style="height: 200px;"></div>
                   
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}