   <!-- header-start -->
   {% load static %}
   
   <header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">home</a></li>
                                        <li><a href="{% url 'jobs:jobs' %}">Browse Job</a></li>
                                     
                                        </li>
                                        <li><a href="{% url 'blog:blog' %}">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'blog:blog' %}">blog</a></li>
                                                <li><a href="{% url 'blog:single-blog' %}">single-blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'contact:contact' %} ">Contact Us</a></li>

                                        <a class="genric-btn success-border large  circle" href="{% url 'jobs:post_job' %}">Add Job</a>
                                        {% if user.is_authenticated %}
                                        <a class="genric-btn success-border large circle" href="{% url 'logout' %} ">Log out</a>

                                        {% else %}
                                        <a class="genric-btn success-border large circle" href="{% url 'login' %} ">Log in</a>


                                        {% endif %}

                                      



                                    </ul>
                                </nav>
                            </div>
                        </div>
                     
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->
