{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block contant %}


<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Add Jop Frome Here</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<p></p>
<form  method="post" class="col-lg-8 mx-auto">
    {% csrf_token %}
    {% bootstrap_form form %}

    <div class="col-md-12">
      <div class="submit_btn">
        <button class="boxed-btn3 w-100" type="submit">Post Job</button>

      </div>
  </div>

</form>
<p></p>
{% endblock %}